<% @businesses.each do |business| %>
  <div class="bus_index_well">
    <table class="table table-hover pretty">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @businesses.__send__ controller.action_name == 'search' ? :each_with_hit : :each do |business, hit| %>
          <tr>
            <td><%= hit.try(:highlight).try(:title) ? link_to(hit.highlight.title.join.html_safe, business, :class => "bus_index_link") : link_to( business.title, business) %></td>
            <td><%= business.category.name %></td>
            <td><%= number_with_precision(business.reviews.average("rating"), :precision => 2 || 0) 
                %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @businesses, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>