<h1>Business Listing</h1>

<!--<p><%= link_to 'Add Business', new_business_path %></p>-->
 
<table>
  <% @business.each do |business| %>
    <tr>
      <td><%= link_to business.title, business_path(business) %></td>
    </tr>
  <% end %>
</table>