<h1>Business Listing</h1>

<p>
    <% if can? :create, @business %>
        <%= link_to 'Add Business', new_business_path %>
    <% end %>
</p>
 
<table class="table table-striped table-hover">
  <% @business.each do |business| %>
    <tr>
      <td><%= link_to business.title, business_path(business) %></td>
    </tr>
  <% end %>
</table>