<%= simple_form_for([@post, @comment]) do |f| %>
  <%= f.error_notification %>
  <fieldset class="fields">
    <p>

        <%= f.input :text, placeholder: 'New comment...', label: false  %>
    </p>
    <p>
      <%= f.submit :class => 'btn btn-primary' %>
    </p>
  </fieldset>
<% end %>