- size ||= :tiny
- alt ||= 'User Avatar'
- user ||= current_user
.avatar.img-rounded{class: size.to_s}
  = image_tag user.image_url(size: size, ssl: request.ssl?), alt: alt
  %i.default.glyphicon.glyphicon-user
