<div class="container marketing">
    <div class="row">
        <div class="col-md-2 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/5" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Log In</h2>
        </div>
        <div class="col-md-2 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/1" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Find</h2>
        </div>
        <div class="col-md-2 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/2" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Comment</h2>
        </div>
        <div class="col-md-2 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/3" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Rate</h2>
        </div>
        <div class="col-md-2 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/4" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Review</h2>
        </div>
    </div>
    <!-- Start Featurettes -->
    <div class="row">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/5" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Log In. <span class="text-muted">We've made it easy.</span></h2>
              <p class="lead">Click on <%= link_to "Sign Up", new_user_registration_path %> in the navigation bar up top. You can sign up with Facebook, Twitter, or just a plain 'ole email address. It's safe, secure, and easy!</p>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Find. <span class="text-muted">Go ahead and check...they're all there :)</span></h2>
              <p class="lead">Click on <%= link_to "Business List", businesses_path %> in the navigation bar. All businesses are cateorized so you can find what you're looking for faster!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/1" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/2" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Comment. <span class="text-muted">Tell us how you really feel!</span></h2>
              <p class="lead">Your opinion counts! Tell your friends what you really think about the places you love (and love to hate!).</p>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Rate. <span class="text-muted">Survey say?!</span></h2>
              <p class="lead">Rate the business from 1 to 10. It's that easy!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/3" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/4" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Review. <span class="text-muted">I said what??</span></h2>
              <p class="lead">Keep track of your reviews and update them if you change your mind. <%= link_to "My Reviews", user_home_path %> in the navigation bar to see a list of all of your reviews. Edit them, delete them, whatever you want...they're yours! </p>
            </div>
          </div>
    </div>
<div>