<div class="container marketing">
    <div class="row">
        <div class="col-md-4 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/7" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Log In</h2>
        </div>
        <div class="col-md-4 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/5" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Rate</h2>
        </div>
        <div class="col-md-4 getting_started_box">
            <img class="img-circle" src="http://lorempixel.com/400/200/abstract/6" alt="Generic placeholder image" style="width: 140px; height: 140px;">
              <h2>Repeat</h2>
        </div>
    </div>
    <!-- Start Featurettes -->
    <div class="row">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/7" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Log In. <span class="text-muted">Safe. Secure. EASY!</span></h2>
              <p class="lead">Click on <%= link_to "Sign Up", new_user_registration_path %> in the navigation bar up top. You can sign up with your Facebook or Twitter account, or use a plain 'ole email address. We never store your password and only use these services because the less passwords we all have to remember, the better! Amiright?</p>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Rate. <span class="text-muted">Survey say?!</span></h2>
              <p class="lead">Click on <%= link_to "Business List", businesses_path %> in the navigation bar. All businesses are cateorized by industry and the list can be searched and sorted to find just what you're looking for. Choose a business, leave a constructive commenent, and rate it from 1 to 10. Your rating is averaged with everyone else's so we can watch the cream rise to the top. It's that easy!</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/5" alt="Generic placeholder image">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-5">
              <img class="featurette-image img-responsive img-rounded" src="http://lorempixel.com/400/200/abstract/6" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
              <h2 class="featurette-heading">Repeat. <span class="text-muted">I said what!?</span></h2>
              <p class="lead">Change your mind? That's OK. Head over to <%= link_to "My Reviews", user_home_path %> in the navigation bar to manage your reviews. You can edit them, delete them, whatever you want...they're yours! </p>
            </div>
          </div>
    </div>
<div>