%h1= I18n.t('brand.name')

%p
  Welcome to Zachary Review!

%p
  = I18n.t 'brand.name' 
  aims to be the centralized hub of all-things related to Zachary, LA.



%h2 Business Listing
%p Help us review your favorite businesses in Zachary! Follow the link, pick a business, and share your thoughts with the community!
= link_to 'Business Listing', controller: 'businesses'
