%h1= I18n.t('brand.name')

%p
  Welcome to Zachary Review!

%p
  = I18n.t 'brand.name'
  Review aims to be the centralized hub of all-things related to Zachary, LA.

%h2 Business Listing
%p= link_to 'Business Listing', controller: 'businesses'
