<div class="jumbotron text-center">
    <h1>Welcome to Zachary Review!</h1>
    <p class="lead">We'd like to be the centralized hub for all-things related to Zachary, LA. Help us get started by reviewing your favorite businesses in town. Click the link below to get started!</p>
    <p><a class="btn btn-lg btn-success" href="businesses" role="button">Get Started!</a></p>
</div>

