//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Core
@import "variables";
@import "bootstrap";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";
@import "businesses";
@import "reviews";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';



//
// Minor Tweaks
//

// Padding to clear fixed nav
body {
  padding-top: 70px;
  background-color: #F8F8F8;
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}

.navbar {
  background-color: #636363;
}

a {
  color: $primary-color;
}

.navbar-default .navbar-brand, .navbar .nav > li > a {
  color: #fff;
  &:hover { 
    color: $primary-color; 
    font-weight: bold;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}