// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: $screen-md-min) {
  #bus_well {
    min-height: 582px;
  } 
}

.bus_index_link {
  decoration: none !important;
}

.add_business {
	text-align: center; 
  margin-bottom: 21px
}

.bus_index_well {
	background-color: #ffffff;
  @extend .well;
}

// Make Business well equal at least the height of the main map and street-view map
#bus_well {
  @extend .well;
  background-color: #ffffff;
  padding-left: 3em;
}

.bus_name {
  color: $primary-color;
  font-size: 2.5em;
}

.bus_thumb {
  margin-top: 20px;
}

// Highlight search results
.label-highlight {
  font-size: 100% !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  color: #333 !important;
  background: #fff401 !important;
}

