// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Style side-bar ads on business#index
//.bus_ad_side 

// Style individual side-bar ads on business#index
//#top
//#mid
//#bottom

// Make Business well equal at least the height of the main map and street-view map
#bus_well {
    min-height: 570px;
    box-shadow: 5px 5px 5px $shadow-color;
    @extend .well;
}

.bus_name {
  color: $primary-color;
  font-size: 2.5em;
}

.bus_thumb {
    margin-top: 20px;
}
