// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bus_name {
  color: $primary-color;
  font-size: 2.5em;
}

.bus_name_home {
  color: $primary-color;
  font-size: 1.5em;  
}

.bus_thumb {
    margin-top: 1em;
}