.marketing
{
  margin-bottom: 20px;
  text-align: center;
}

.marketing_img {
  width: 180px;
  height: 140px;
}

.getting_started_box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.featurette-image {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
}