// CSS for Pages. All of them.

.marketing
{
  margin-bottom: 40px;
  text-align: center;
}

.marketing_img {
  width: 180px;
  height: 140px;
}

.getting_started_box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.featurette_image {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
}