// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Style timestamp
.timestamp {
    color: #848484; 
}

// Style the text of the review on user#show
.reviewer_quote {
    color: #848484;   
}

.review_well {
	background-color: #ffffff;
	word-wrap: break-word;
    @extend .well;
}