// Styling for user#home

// Style div for user info at top of home page
.user_home_info {
	p, span {
		color: #fff;
		font-size: 2em;
		padding-top: .5em;
	}
	padding-top: 2em;
	
}

// If user has no reviews yet, post a message.
.user_no_review {
	h2 {
		color: #fff;
	}
	padding-top: 5em;
}

// Businesses' name appears bolded in the user's page
.bus_name_home {
  color: $primary-color;
  font-size: 1.5em;  
}