<% if !review.user_id.nil? %>
    <div class="well">
        <p>
            <strong>Reviewer:</strong>
            <%= review.reviewer %>
        </p>
         
        <p>
            <strong>Review:</strong>
            <%= review.review %>
        </p>

        <p>
            <strong>Rating:</strong>
            <%= review.rating %>
        </p>
        <span class = "timestamp">
            posted <%= time_ago_in_words(review.created_at) %> ago.
        </span>

        
    </div>
<% end %>