<% if !review.reviewer.nil? %>
    <div class="well">
        <p>
            <strong>Reviewer:</strong>
            <%= review.reviewer %>
        </p>
         
        <p>
            <strong>Review:</strong>
            <%= review.review %>
        </p>

        <p>
            <strong>Rating:</strong>
            <%= review.rating %>
        </p>
    </div>
<% end %>